* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Times New Roman', Times, serif; */

    /* testing */
    /* color: whitesmoke; */
}
html{
    scroll-behavior: smooth;
}
body{

    background-color: #202020;
}


.main-container {
    /* background-color: black; */
    /* background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); */
    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 0.5rem;
    width: 100%;
    height: 100vh;
}

header {
    /* background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%); */
    /* background-repeat: no-repeat; */
    height: 10%;
    width: 100%;
    font-weight: bold;
}

header .nav-container {
    height: 100%;
    width: 100%;
}

header .nav-container nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-container nav .part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

header .nav-container nav .part img {
    transform: scale(0.5);
    width: 40%;
    color: aliceblue;
}

header .nav-container nav .part .logo-name {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
}


header .nav-container nav .part .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .nav-container nav .part .menu a {
    color: rgb(216, 216, 216);
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
}

header .nav-container nav .part .menu a:hover {
    /* background-color: rgba(177, 175, 175, 0.644); */
    /* background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 9, 114, 0.712) 0%, rgba(7, 3, 53, 0.719) 97.5%); */
    border-radius: 10%;
    text-decoration: overline;
    /* background-color: transparent; */
    color: white;
    font-size: 1.2rem;
}

header .nav-container nav .part a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

header .nav-container nav .part a .btn {
    padding: 0.3rem 0.7rem;
    font-weight: bolder;
    /* font-size: large; */
    border-radius: 0.5rem;
    border: none;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );

}

header .nav-container nav .part a .btn:hover {
    /* box-shadow: 5px 5px 5px rgb(189, 189, 189); */
    text-decoration: underline;
    /* background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 9, 114, 0.712) 0%, rgba(7, 3, 53, 0.719) 97.5%); */
    /* color: wheat; */
    cursor: pointer;
    background: rgb(14, 142, 12);
}