{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
<title>login Page</title>
{% endblock title %}

{% block body %}
<div class="form-container">
    <div class="container">
        {% if error %}
        <div style="margin: 0.3rem;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.541);
        color: rgb(186, 0, 0);
        border-radius: 1rem;
        ">
                {{error}}
            </div>
        {% endif %}
        <h1>Login</h1>
        <form action="/forgot_pw" method="post" id="login-form" onsubmit="return validate_login() ">
            <div class="input-set">
                <input type="email" name="email" id="email" placeholder="Enter Register Email">
                <!-- <label for="user-id">Enter User-ID</label> -->
            </div>
            

            <div class="form-btn">
                <button type="submit" id="submit">submit</button>
                <!-- <button id="text">next</button> -->
            </div>
        </form>
    </div>
    <div class="container" id="display-error-u"></div>

</div>


<script src="{{url_for('static', filename='js/forgot_pw.js')}}"></script>
{% endblock body %}