{% extends 'layout.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/configure.css') }}">
{% endblock title %}

{% block source %}

<h1>Configurations</h1>


<div class="box">



    {% if privilage == "general" %}
    <div style="font-size: 2rem;
    background: rgba(28, 28, 28, 0.727);
    color: white;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    ">
        This Option is not available to your service plan

    </div>

    {% else %}

    {% if active %}
    <div style="font-size: 2rem;
    background: rgba(28, 28, 28, 0.727);
    color: white;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    ">
        cctv camera are in active state so to enter cctv camera please de-activate it, In <a
            href="/dashboard">Dashboard</a>

    </div>

    {% else %}

    <header>
        <hr>
        <h2>Add CCTV Camera IP address</h2>
        <hr>
    </header>
    <form action="/config_add" method="post" onsubmit="return validate()">
        <div class="form-element">
            <label>
                <span> CCTV Camera IP : </span>
                <input type="text" name="ip_add" placeholder="Enter CCTV Video IP address">
            </label>
        </div>
        <div class="btns">
            <button type="reset">Clear</button>
            <button type="submit">configure</button>
        </div>

    </form>
    <div id="invalid"></div>
    <hr style="width: 100%;margin: 1.5rem;">
    {% endif %}

    {% for ip in camera_ip %}
    <header>
        <hr>
        <h2>Edit CCTV Camera IP address</h2>
        <hr>
    </header>

    <form action="/config_edit" method="post">
        <div class="form-element">
            <label>
                <span> {{ip.id}} CCTV Camera IP : </span>
                <input type="text" name="ip_edit" value="{{ip.ip}}">
            </label>
        </div>

        {% if active %}
            Not editing
        {% else %}
            
        <div class="btns">
            <a href="/delete_ip/{{ip.id}}"> Delete</a>
            <button type="submit" name="edit" value="{{ip.id}}">Edit</button>
            <!-- <button type="submit" value="">delete</button> -->
        </div>
        {% endif %}


    </form>
    <!-- <div id="invalid"></div> -->
    {% endfor %}


    <!-- <div class="add-element">
        <img src="{{ url_for('static', filename='media/add_ip.svg') }}" alt="@">
        <span>
            Add another Camera
        </span>
    </div> -->
</div>


<script src="{{ url_for('static', filename='js/configure.js') }}"></script>

{% endif %}
{% endblock source %}