{% extends 'base.html' %}

{% block title %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/part2.css')}}">
<title>step 2 registration page</title>
{% endblock title %}


{% block body %}
    {% if email %}
        
    <h1>OTP and ID will generate and send to {{email}}</h1>
    {% endif %}
<div class="box-container">
    <a href="/sendmail/1" class="catagary" id="gov">
        government service reigister
    </a>
    <a href="/sendmail/2" class="catagary" id="public">
        public service reigister
    </a>
    <a href="/sendmail/3" class="catagary" id="private">
        private service reigister
    </a>
    <a href="/sendmail/4" class="catagary" id="general">
        general service reigister
    </a>
</div>
{% endblock body %}