<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <!-- <title>Dashboard</title> -->
    {% block title %}

    {% endblock title %}
</head>

<body>
    <div class="main-container">

        <nav>
            <div class="container">
                <div class="logo">
                    <div style="margin-bottom: 1rem;
                   font-size: 1.1rem;
                   ">
                        Welcome {{session["user_id"]}}
                    </div>
                    <img src="{{ url_for('static', filename='media/logo.jpg') }}" alt="">
                </div>
                <div class="nav-menu">
                    <a href="/dashboard">Dashboard</a>
                </div>
                <div class="nav-menu">
                    <a href="/add_person">Add person list</a>
                </div>
                <div class="nav-menu">
                    <a href="/view_person">Edit and Delete person list</a>
                </div>

                <div class="nav-menu">
                    <a href="/liveVideo">Live Videos</a>
                </div>

                <div class="nav-menu">
                    <a href="/configure">Configurations</a>
                </div>

                <div class="nav-menu">
                    <a href="/profile">Profile</a>
                </div>
                <div class="nav-menu">
                    <a href="/logout">Log-Out</a>
                </div>
            </div>
        </nav>
        <div class="source">
            {% block source %}

            {% endblock source %}
        </div>
    </div>

</body>

</html>