{% extends 'base.html' %}


{% block title %}
<title>register Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock title %}

{% block body %}

<h1>Register Page</h1>
<div class="container">
    <div class="show-data">
        <ul>
            <li>
                <div class="info" id="r-profile">
                    <i>Profile</i>
                    <span></span>

                </div>
            </li>
            <li>
                <div class="info" id="r-fname">
                    <i> First Name</i>
                    <span></span>
                </div>
            </li>
            <li>
                <div class="info" id="r-sname">
                    <i> Second Name</i>
                    <span></span>
                </div>
            </li>
            <li>
                <div class="info" id="r-email">
                    <i>Email</i>
                    <span></span>
                </div>
            </li>
            <li>
                <div class="info" id="r-phone">
                    <i>Phone</i>
                    <span></span>
                </div>
            </li>
            <!-- <li>
                <div class="info" id="r-address">
                    <i>Address</i>
                    <span></span>
                </div>
            </li> -->
            <li>
                <div class="info" id="r-addhar">
                    <i>Addhar number</i>
                    <span></span>
                </div>
            </li>
            <!-- <li>
                <div class="info" id="r-govID">
                    <span>Government ID </span>
                    <span></span>
                </div>
            </li> -->
            <li>
                <div class="info" id="r-userid">
                    <i>User-Id</i>
                    <span></span>
                </div>
            </li>

        </ul>
    </div>

    <div class="get-data">
        <form action="/otp" method="post" enctype="multipart/form-data">

            <div class="form-item">

                <div class="form-input">
                    <input type="text" placeholder="Enter First Name" name="firstname" id="firstname" autofocus>
                    <span></span>

                    <input type="text" placeholder="Enter Second Name" name="secondname" id="secondname">
                    <span></span>

                </div>
                <div class="form-input">
                    <input type="email" name="email" placeholder="Enter Email" id="email" autofocus>
                    <span></span>

                </div>
                <div class="form-input">
                    <input type="tel" name="phone_no" placeholder="Enter Phone No" id="phone-no" autofocus>
                    <span></span>

                </div>
                <!-- <div class="form-input">
                    <textarea name="address" cols="20" rows="5" placeholder="Enter Address" id="address" autofocus></textarea>
                    <span></span>

                </div> -->
                <div class="form-input">
                    <input type="password" name="password" placeholder="Enter Password" id="password" autofocus>
                    <span></span>

                    <input type="password" placeholder="Enter Confirm-Password" id="confirm-password">
                    <span></span>

                </div>
                <div class="form-input">
                    <input type="text" name="userID" placeholder="Enter User ID" id="user-id" autofocus>
                    <span></span>

                </div>
                <div class="form-input">
                    <input type="file" name="profile" id="profile" placeholder="Enter profile Image">
                    <span></span>

                </div>
                <!-- <div class="form-input" id="government-id">
                    <input type="password" name="govID" placeholder="Enter Government ID">
                </div> -->
                <div class="form-input">
                    <input type="text" name="addhar" placeholder="Enter Addhar No" id="addhar-no" autofocus>
                    <span></span>

                </div>

            </div>
            <div class="form-botton">
                <button type="button" id="previous" class="btn" disabled>Previous</button>
                <button type="button" id="next" class="btn">Next</button>
            </div>
        </form>
        <div id="validation-error">

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock body %}